body {
    font-family: Verdana, Geneva, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
}

button {
    font-size: 1.25em;
    border-radius: 3px;
}

.hidden {
    display: none;
}

.button_container {
    text-align: center;
}

.priority {
    margin: 0;
    text-indent: 1em;
    color: grey;
    font-size: .75em;
}
